.typeahead
  ul.typeahead.dropdown-menu
    z-index: 9999
    margin-bottom: 50px
  div.controls
    margin-bottom: 7px
    label.control-label
      font-size: 18px
      margin: 0
  div.items
    div.row
      div.col-xs-12.col-sm-12.col-md-12.col-lg-12
        p
          font-size: 14px
        i.delete-trigger
          font-size: 14px
          transition: color 0.3s ease
          &:hover
            cursor: pointer
            color: #d43f3a